<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /bcwm_dev/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /bcwm_dev/index.php [L]
</IfModule>
