/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}
.inner-content, .page-header, .page-content {
  padding-left:0;
  padding-right:0;
  .page-content-inner {
    max-width:1040px;
  }
}
.page-template-what-we-do {
	.page-header {
		max-width:1040px;
  }
}

.page-template-who-we-are {
	.page-header {
		max-width:1040px;
  }
}

.page-template-icm, .page-template-pwm, .page-template-philosophy {
	.page-header {
		max-width:1040px;
  }
  .page-content {
    .page-content-inner {
      max-width:1040px;
      margin:0 auto;
    }
  }
}
.page-template-our-history {
	.page-header {
		max-width:1040px;
  }
}

.page-template-our-history {
  .page-content {
		.page-content-inner {
			max-width:1040px;
		}
	}
}
.page-template-what-we-care-about {
  .page-header {
    max-width:1040px;
  }
}
.page-template-publications {
	.page-header {
		max-width:1040px;
  }
  .page-content-inner {
		max-width:1040px;
	}
}

.page-template-publications-list {
	.page-header {
		max-width:1040px;
  }
}

.page-template-full-width {
	#content {
		max-width:1040px;
	}
}
#breadcrumbs {
  max-width:1040px;
}
.page-template-philosophy {
  .page-content {
     .page-content-inner {
       max-width:1040px;
     }
   }
}
.page-template-bio {
	#inner-content {
		max-width:1040px;
	}
}
.blog {
	.page-header {
		max-width:1040px;
  }
}
.page-template-full-width, .single {
	.page-content, .page-header {
		max-width:1040px;
	}
}
