/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
}

/*********************
HEADER STYLES
*********************/

.no-touch .header {
	position:relative;
	z-index:1;
	#inner-header {
		position:relative;
	}
	.menu-button {
		display:none;
	}
	nav {
		position:absolute;
		right:0;
		top:1em;
		text-align:center;
		width:auto;
		padding-bottom:0;
		.portal {
			text-align:right;
			font-size:0.85em;
		}
		li {
			float:none;
			display:inline-block;
			vertical-align:top;
			cursor:default;
		}
		li a {
			font-size: 0.875em;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

.no-touch .nav {
	border: 0;
	ul {
		background:$dark-blue;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;
			left:-52px;
			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					font-size:0.75em;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

footer .nav {
	border: 0;
	ul {
		background:$dark-blue;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;
			left:-52px;
			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					font-size:0.75em;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer {
	.nav{
		li {
			border-right:solid 1px;
			&:last-of-type {
				border-right:none;
			}
			a {
				font-size:0.825em;
				font-weight:bold;
				padding-top:0;
				padding-bottom:5px;
				line-height:1em;
			}
		}
	}
}
.footer-top {
	position:relative;
	font-size:0.875em;
	height:11em;
	border-bottom:solid 1px lighten($dark-blue, 10%)
}
.footer-logo {
	position:absolute;
	left:0;
}
.footer-contact {
	position:absolute;
	right:0;
}
.footer-address {
	display:inline-block;
	text-align:right;
}
.footer-phone {
	display:inline-block;
	text-align:right;
}
.footer-bottom {
	height:6em;
	position:relative;
}
.footer-bottom__left {
	position:absolute;
	left:0;
}
.footer-bottom__right {
	position:absolute;
	right:0;
	.social_media__icon {
		margin-top:0;
	}
}
.copyright_desktop {
	display:block;
	margin:0;
	text-align:left;
	font-size:0.825em;
}
.copyright_mobile {
	display:none;
}
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

/* Breadcrumbs */
#breadcrumbs {
	display:block;
	font-size:0.5em;
	letter-spacing:1px;
	text-transform:uppercase;
	font-family:$serif;
	a {
		text-decoration: none;
		color:$text-color;
		text-transform:uppercase;
		font-family:$serif;
	}
}
.page-content-inner {
	max-width:90%;
	margin:0 auto;
}
/* Homepage */
.home {
	.home-section-1 {
		background-image: url('../images/home_bg.png');
		background-repeat: no-repeat;
		background-position:center right;
		h1, p {
			max-width:600px;
			margin-left:auto;
			margin-right:auto;
		}
		h1 {
			margin-top:1em;
			font-size:3em;
		}
		.link-box-container {
			display:inline-block;
			margin:0 1em;;
		}
		.team-image {
			position:relative;
			top:0;
		}
	}
	.home-section-2 {
		margin-top:-25px;
		position:relative;
		.slogan-2 {
			position:relative;
			max-width:875px;
			margin:0 auto;
		}


		.recent-blog {
			margin-top:5em;
		}
	}
}

/* Personal Wealth Management */
.services-container {
	max-width:800px;
}
.services-item {
	display:inline-block;
	width:30%;


}
 /* Our Investment Philosophy */
 .page-template-philosophy {
	 .page-header h1 {
		 transform:translateY(-75%);
	 }
	 .page-content {
		 padding-left:0;
		 padding-right:0;
	 		.page-content-inner {
	 			max-width:90%;
	 		}
		 .philosophy-left {
			 display:inline-block;
			 width:75%;
			 vertical-align:top;
		 }
		 .philosophy-right {
			 display:inline-block;
			 width:23%;
			 vertical-align:top;
			 text-align:right;
			 float:right;
			 .philosophy-icon {
				 margin-right:0;
			 }
		 }
	 }
 }

/* What We Do */
.page-template-what-we-do {
	.page-header {
		padding-left:0;
		padding-right:0;
		max-width:90%;
		margin:0 auto;
		padding-top:0;
		position:relative;
		h1 {
			padding-top:1.5em;
		}
		.intro p {
			margin-top:0;
		}
	}
	.link-box-container {
		display:inline-block;
		margin:0 1em;;
	}
}

/* Who We Are */
.page-template-who-we-are {
	.page-header {
		padding-left:0;
		padding-right:0;
		max-width:90%;
		margin:0 auto;
		position:relative;
		padding-top:0;
		h1 {
			padding-top:1.5em;
		}
		.certifications {
			img {
				display:inline-block;
				vertical-align:middle;
				margin:2em;
			}
		}
	}
	.page-content {
		text-align:left;
		position:relative;
		.bio {
			margin: 0 1.5em 0 0;
		}
	}
}

/* Bio Pages */
.page-template-bio {
	#inner-content {
		padding-left:0;
		padding-right:0;
		max-width:90%;
	}
	.page-header {
		padding-top:4em;
	}
	.bio-left {
		display:inline-block;
		vertical-align:top;
		width:60%;
		margin-right:5%;
	}
	.bio-right {
		display:inline-block;
		vertical-align:top;
		width:30%;
	}
}
.page-template-icm, .page-template-pwm, .page-template-philosophy {
	.page-header {
		padding-left:0;
		padding-right:0;
		max-width:90%;
		margin:0 auto;
		position:relative;
		background-size:300px;
		h1 {
			// transform:translateY(-100%);
		}
		}
		.page-content {
			min-height:600px;
			position:relative;
			padding-left:0;
			padding-right:0;
			.page-content-inner {
				max-width:90%;
				margin:0 auto;
			}
		}

}

/* Our History */
.page-template-our-history {
	.page-header {
		padding-left:0;
		padding-right:0;
		padding-top:0;
		max-width:90%;
		margin:0 auto;
		position:relative;
		.header-content {
			width:60%;
			padding-top:4em;
			p:last-of-type {
				margin-bottom:0;
				padding-bottom:2em;
			}
		}
		img {
			position:absolute;
			bottom:0;
			right:0;
			left:auto;
			transform:none;
			max-height:400px;
		}
	}
	.page-content {
		padding-left:0;
		padding-right:0;
		.page-content-inner {
			max-width:90%;
		}
	}
}
 /* What We Care About */
 .page-template-what-we-care-about {
	 .page-header {
		 padding-left:0;
		 padding-right:0;
		 padding-top:0;
		 padding-bottom:8em;
		 position:relative;
		 max-width:90%;
		 margin:0 auto;
		 z-index:-1;
		 h1 {
			 padding-top:1.5em;
		 }
		 .page-header-inner {

		}
	 }
	 .page-content {
		 .cause {
			 text-align:left;
			 display:inline-block;
			 width:32%;
			 padding:0 2em;
			 vertical-align:top;
			 margin-top:-4em;
		 }
	 }
 }

/* Contact */
.page-template-contact {

	.page-header {
		background-size:450px;
		background-position: 80% 50%;
		padding-top:0;
		padding-left:0;
		padding-right:0;
		position:relative;
		max-width:90%;
		margin:0 auto;
		h1 {
			padding-top:1.5em;
		}
	}
	.page-content-container {
		max-width:760px;
		margin:0 auto;
		position:relative;
	}
}

/* Commentary */
.blog {

	.page-header {
		padding-left:0;
		padding-right:0;
		position:relative;
		padding-top:0;
		// max-width:760px;
		position:relative;
		.inner-header {
			max-width:760px;
			margin: 0 auto;
			position:relative;
		}
		h1 {
			margin-top:0;
			padding-top:1.5em;
			font-size:2.5em;
		}
	}
	.page-content {
		position:relative;
	}
	.search-boxes-container {
		max-width:800px;
		margin:0 auto;
		text-align:left;
	}
	.search-boxes {
		max-width:none;
		text-align:left;
		display:inline-block;
		vertical-align:top;
		width:45%;
		margin-top:2em;
		&:last-of-type {
			float:right;
		}
	}
}

/* Publications */
.page-template-publications {
	.page-header {
		padding-left:0;
		padding-right:0;
		max-width:90%;
		margin:0 auto;
		h1 {
			// transform:translateY(-100%);
		}
	}
	.page-content {
		position:relative;
		.page-content-inner {
		padding-left:0;
		padding-right:0;
		max-width:90%;
		margin:0 auto;
		.link-boxes {
			max-width:950px;
			margin: 0 auto;
		}
	}
	}
}

.page-template-publications {
	.link-box-container {
		display:inline-block;
		vertical-align:top;
		margin:0 1em;
	.link-box__main a {
						width:250px;
	}
	}
}

/* Publications List */
.page-template-publications-list {
	.page-header {
		padding-left:0;
		padding-right:0;
		max-width:90%;
		margin:0 auto;
		h1 {
			// transform:translateY(-100%);
		}
	}
	.page-content {
		padding-top:0;

		.page-content-left {
			display:inline-block;
			background:$gray;
			vertical-align:top;
			width:30%;
			text-align:left;
			position:relative;
			min-height:500px;
			.page-content-left-inner {
				float:right;
				margin-right:2em;
			}
			ul li {
				line-height:1em;
			}
		}
		.page-content-right {
			display:inline-block;
			vertical-align:top;
			width:65%;
			padding-top:0;
			position:relative;
			h2 {
				cursor:pointer;
			}
			// .publication-category {
			// 	display:none;
			// 	&.open {
			// 		display:block;
			// 	}
			// }

		}
	}

}
/* Full Width Page */
.page-template-full-width, .page-template-full-width-page, .single {
	.page-content, .page-header {
		padding-left:0;
    padding-right:0;
		position:relative;
		h1 {
			margin-top:0;
			padding-top:1.5em;
		}
	}
}
.page-template-full-width, .page-template-full-width-page {
	#breadcrumbs {

	}
	#content {
		max-width:90%;
		margin:0 auto;
		position:relative;
	}
}

/* Parallax Bullshit */
#home-line-1, #home-line-2, #home-line-3 {
	display:inline;
	position:absolute;
}
#home-line-2 {
	left:-45px;
}
#home-line-3 {
	right:-0;
}
#icm-line {
	position:absolute;
	display:inline;
	right:0;
	top:100px;
}
#what-we-do-line {
	display:inline;
	position:absolute;
	left:0;
	bottom:0;
	width:180px;
}
#who-we-are-line-1 {
	display:inline;
	position:absolute;
	top:100px;
}
#who-we-are-line-2 {
	display:inline;
	position:absolute;
	right:0;
	bottom:10%;
	width:75%;
}
#bio-line-1 {
	display:inline;
	position:absolute;
}
#bio-line-2 {
	display:inline;
	position:absolute;
}
#our-history-line {
	display:inline;
	position:absolute;
}
#commentary-line-1 {
	display:inline;
	position:absolute;
	right:2em;
}
#commentary-line-2 {
	display:inline;
	position:absolute;
	left:0;
	bottom:0;
}
#publications-line-1 {
	display:inline;
	position:absolute;
	left:0;

}
#publications-line-2 {
	display:inline;
	position:absolute;
	right:0;
	bottom:0;
}
#contact-line {
	display:inline;
	position:absolute;
	left:0;
}

/* Reset hard mobile break */
.mobile-break {
	display:none;
}

.touch {
	.header {
		background-color: $dark-blue;
		position:relative;
		.menu-button {
			display:block;
			width:40px;
			cursor:pointer;
			position:absolute;
			right:2em;
			top:2em;
			z-index:9999;
			.menu-line {
				height:4px;
				background:$gold;
				margin:4px;
			}
		}
		nav {
			position:absolute;
			right:-250px;
			top:100%;
			background-color:$dark-blue;
			text-align:right;
			width:250px;
			max-width:75%;
			padding-bottom:1em;
			transition:right 1s;
			z-index:2;
			&.open {
				right:0;
				transition:right 1s;
			}
			.portal {
				padding:0.75em 0.75em 0 0;
				text-transform:uppercase;
				text-decoration:none;
				a {
					color:$gray;
					text-decoration:none;
				}
			}
			li a {
				font-family: $serif;
				text-transform:uppercase;
				letter-spacing: 2px;
				font-size:1.25em;
			}
			.sub-menu {
				margin:0;
				li a {
					color: $gold;
					font-size:1em;
				}
			}
		}
	}

		#logo {
			margin: 0.5em 0 0.25em 0;

			a {
				color: $white;
			}
		}

	/*********************
	NAVIGATION STYLES
	*********************/

	/*
	all navs have a .nav class applied via
	the wp_menu function; this is so we can
	easily write one group of styles for
	the navs on the site so our css is cleaner
	and more scalable.
	*/

	.nav {
		border-bottom: 0;
		margin: 0;

		li {
			list-style-type:none;
			a {
				display: block;
				color: $white;
				text-decoration: none;
				padding: 0.75em;

				/*
				remember this is for mobile ONLY, so there's no need
				to even declare hover styles here, you can do it in
				the style.scss file where it's relevant. We want to
				keep this file as small as possible!
				*/
				&:hover, &:focus {

				}
			}

			&:first-child {}

			&:last-child {}

			/*
			so you really have to rethink your dropdowns for mobile.
			you don't want to have it expand too much because the
			screen is so small. How you manage your menu should
			depend on the project. Here's some great info on it:
			http://www.alistapart.com/articles/organizing-mobile/
			*/
			ul.sub-menu,
			ul.children {

				li {

					a {
						padding-left: 30px;

						&:hover,
						&:focus {}

						&:link {}

					}

					&:first-child {}

					&:last-child {}

				}

			}

		} /* end .menu li */

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {

			a {}

		}  /* end current highlighters */

	} /* end .nav */
}
