/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html {
	max-width:100%;
	overflow-x:hidden;
}
body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	overflow-x:hidden;
	background-color: $gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width:100%
}
li {
	list-style-type:disc;
	list-style-position: inside;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
	font-family: $serif-bold;
  font-weight: 600;
  text-transform: uppercase;
	line-height:1.125em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $dark-blue;
	position:relative;
	.menu-button {
		width:40px;
		cursor:pointer;
		position:absolute;
		right:1em;
		top:2em;
		.menu-line {
			height:4px;
			background:$gold;
			margin:4px;
		}
	}
	nav {
		position:absolute;
		right:-250px;
		top:100%;
		background-color:$dark-blue;
		text-align:right;
		width:250px;
		max-width:75%;
		padding-bottom:1em;
		transition:right 1s;
		z-index:2;
		&.open {
			right:0;
			transition:right 1s;
		}
		.portal {
			padding:0.75em 0.75em 0 0;
			text-transform:uppercase;
			text-decoration:none;
			a {
				color:$gray;
				text-decoration:none;
			}
		}
		li a {
			font-family: $serif;
			text-transform:uppercase;
			letter-spacing: 2px;
			font-size:1.25em;
		}
		.sub-menu {
			margin:0;
			li a {
				color: $gold;
				font-size:1em;
			}
		}
	}
}

	#logo {
		margin: 0.5em 0 0.25em 0;

		a {
			color: $white;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {
		list-style-type:none;
		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {

}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;


			header {

				padding: 1.5em 1.5em 0 1.5em;

			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 0.5em 1.5em;
			line-height:1em;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;
		color:$gold;
		font-weight:bold;
		text-transform: uppercase;
    ul {
      display: inline-block;
      white-space: nowrap;
      padding: 0;
      clear: both;
			vertical-align:middle;
			margin:0;
			margin-top:-5px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      // border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.25em;
      min-width: 1em;
      display: block;
      color: $gold;
			font-weight:bold;
      &:hover, &:focus {
      	// background-color: $blue;
      	color: $blue;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $dark-blue;
	color: $light-gray;
	text-align:center;
	.nav li {
		list-style-type: none;
	}
	.nav li a {
		padding:0.25em;
		font-size:1em;
	}
}
.footer-top {
	padding-top:2.5em;
}
.footer-address, .footer-phone {
	padding:1em;
	p {
		margin:0;
	}
}
.footer-bottom {
	padding-top:1em;
}
.social_media__icon {
	display:inline-block;
	margin:1em 0.5em 0 0.5em;
	img {
		width:29px;
	}
}
.copyright_desktop {
	display:none;
}
	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */

	.copyright {}
/* Breadcrumbs */
#breadcrumbs {
	display:none;
	// margin-left:auto;
	// margin-right:auto;
	margin-top:2.5em;
	margin-bottom:1em;
	font-weight:normal !important;
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
}
/* General Styles */

.page-content-inner {
	margin-left: auto;
	margin-right:auto;
}
/* Homepage */

.home {
	main {
		background:$blue;
	}
	.home-section-1 {
		max-width:90%;
		margin:0 auto;
		text-align:center;
		p {
			color:$light-gray;
			margin-bottom:2em;
		}
		.link-boxes {
			text-align:center;
		}
		.link-box-container {
			background:$dark-blue;
			padding:1em;
			max-width:300px;
			margin: 0 auto 1em auto;
			&:hover {
				background:$gold;
				a {
					color:$dark-blue;
				}
			}
		}
		.link-box__main {
			a {
				color:$gold;
				font-family:$serif;
				font-weight:bold;
				text-transform: uppercase;
				text-decoration:none;
				border:solid 1px;
				display:block;
				padding:3em 3.5em;
			}
		}
		.team-image img {
			display:block;
			margin:0 auto;
		}
	}
	h1 {
		color:$dark-blue;
		text-align:center;
	}
	.slogan-2 {
		background:$gray;
		text-align:center;
		padding:1.5em 3em;
		font-family:$serif;
		font-style:italic;
		font-size:1.25em;
		color:$blue;
	}
	.home-section-2 {
		article {
			position:relative;
			background:$light-gray;
			max-width:800px;
			margin:2em auto;
			text-align:center;
			padding:2em;
			h3 {
				position: absolute;
		    top: 10px;
		    left: 50%;
		    transform: translateX(-50%);
				font-family:$serif;
				text-transform: uppercase;
				background:$light-gray;
				padding-left:1em;
				padding-right:1em;
				font-weight:bold;
				font-size:0.825em;
			}
			header {
				padding: 1.5em 1.5em 0 1.5em
			}
			.article-inner {
				border:solid 2px $blue;
				padding-bottom:0.5em;
			}
			.entry-title {
				font-weight:bold;
				font-size:1.5em;
				font-family:$proxima;
				text-transform:none;
				letter-spacing:2px;
			}
			.byline {
				font-family:$serif;
				color:$text-color;
				font-size:0.55em;
				letter-spacing:2px;
				text-transform: uppercase;
				font-style: normal;
			}
			.read-more {
				text-transform: uppercase;
				padding:0.5em;
				font-family:$promixa-semibold;
				font-size:1.25em;
				a {
					color:$gold;
					text-decoration: none;
					font-weight:bold;
				}
			}

		}
		padding:0 5%;
		background:$dark-blue;
		padding-bottom:2em;
		.bottom-heading {
			color:$light-gray;
			text-align:center;
			text-transform: uppercase;
			font-family: $serif;
			line-height:1em;
			margin-bottom: 1.5em;
		}
		.link-box-container {
			background:$blue;
			padding:1em;
			max-width:300px;
			margin: 0 auto 1em auto;
			&:hover {
				background-repeat:no-repeat;
				background-position:center;
				background:$gray;
				.link-box__secondary {
					border-color:$gold;
					background:$gray;
				}
				.main-link {
					color:$dark-blue !important;
				}
				.link-box__secondary__1 {
					background-image:url('../images/scales_bg_hover.png') !important;
					background-repeat:no-repeat !important;
					background-position:center !important;
				}
				.link-box__secondary__2 {
					background-image:url('../images/house_bg_hover.png') !important;
					background-repeat:no-repeat !important;
					background-position:center !important;
				}
				.link-box__secondary__3 {
					background-image:url('../images/book_bg_hover.png') !important;
					background-repeat:no-repeat !important;
					background-position:center !important;
				}
				a {
					color:$dark-blue;
				}
			}
		}
		.link-boxes__secondary {
			text-align:center;
			position:relative;
			max-width:850px;
			margin:0 auto;
			min-height:250px;
			.link-box__secondary {
				border:solid 2px $dark-blue;
				position:relative;
				height:200px;
				// background-image:url('../images/house.png');
				background-repeat:no-repeat;
				background-position:center;
				&.link-box__secondary__1 {
					background-image:url('../images/scales_bg.png');
				}
				&.link-box__secondary__2 {
					background-image:url('../images/house_bg.png');
				}
				&.link-box__secondary__3 {
					background-image:url('../images/book_bg.png');
				}
				.main-link {
					display:block;
					font-family:$serif;
					text-decoration:none;
					text-transform: uppercase;
					padding:3em 0;
					color:$light-gray;
					font-weight:bold;
					position: absolute;
					top: 50%;
					left:50%;
					transform: translate(-50%, -50%);
					font-size:0.875em;
					font-weight:bold;
				}
				.learn-more {
					background:$gold;
					color:$white;
					font-weight:bold;
					font-size:0.65em;
					text-transform:uppercase;
					padding:1em;
					text-decoration:none;
					position: absolute;
			    bottom: -12px;
			    left: 50%;
			    transform: translateX(-50%);
			    padding: 0.5em 1em;
				}
			}

		}
	}

}
/* Institutional Capital Management and Personal Wealth Management*/

.page-template-icm, .page-template-pwm {
	.page-header {
		height:200px;
		background-repeat:no-repeat;
		background-position:center;
		background-size:contain;
		h1 {
			color:$blue;
			text-transform:uppercase;
			font-family: $serif-bold;
			text-align:center;
			font-size:1.5em;
			position:relative;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.page-content {
		background:$light-gray;
		padding:1em 5% 2em 5%;
		.page-content-inner {
			margin:0 auto;
		}
		h2 {
			color:$blue;
			font-family: $proxima;
			text-transform: uppercase;
			font-size:1.25em;
			letter-spacing:1.5px;
		}
		h3 {
			font-family: $serif;
			text-transform: uppercase;
			font-size:0.75em;
			font-weight: bold;
			margin-top:4em;
		}
		.services-item {
			text-transform: uppercase;
			color:$blue;
			padding:0.25em 0;
			font-weight:bold;
			font-size:0.875em;
			font-family: $proxima;
			letter-spacing: 1px;
			a {
				text-decoration: none;
			}
		}
	}
}
.page-template-pwm, .page-template-icm {
	.page-content{
		ul {
			li {
				// list-style-image: url('../images/triangle_bullet.png');
				background-image :url('../images/triangle_bullet.png');
				list-style-type:none;
				background-repeat: no-repeat;
				background-position:0 10px;
				padding-left:1em;
			}
		}
	}
	.ticker {
		position:relative;
		// height:1.5em;
		height:50px;
	}
	.ticker-item {
		font-family:'Merriweather Bold', $serif;
		// font-weight:bold;
		font-style:italic;
		position:absolute;
		left:0;
		top:50%;
		transform:translateY(-50%);
		opacity:0;
		transition:opacity 1s linear;
		&:first-of-type {
			opacity:1;
		}
		&.visible {
			opacity:1;
			transition:opacity 1s linear;
		}
		&.invisible {
			opacity:0 !important;
			transition:opacity 1s linear;
		}
	}
}
 /* Login Page */

 .login_link {
	 background:$blue;
	 display:inline-block;
	 width:200px;
	 margin:1em;
	 text-align:center;
	 &:hover {
		 background: lighten($blue, 20%)
	 }
	 a {
		 color:white;
		 padding:1em;
		 display:block;
		 text-transform: uppercase;
		 text-decoration: none;
	 }
 }
/* Full Width Page */
.page-template-full-width, .page-template-full-width-page, .single {
	.page-content, .page-header {
		margin:0 auto;
		padding-left:5%;
		padding-right:5%;
	}
}
/* Our Investment Philosophy */
.page-template-philosophy {
	#breadcrumbs {
		background:$blue;
		color:$light-gray;
		a {
			color:$light-gray;
		}
	}
	#inner-content {
		background:$blue;
	}
	.page-header {
		height:250px;
		position:relative;
		background-repeat:no-repeat;
		background-position:center;
		background-size:contain;
		background-color:$blue;
		h1 {
			color:$white;
			text-transform:uppercase;
			font-family: $serif;
			text-align:center;
			font-size:2em;
			position:relative;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.page-content {
		background:$light-gray;
		padding:1em 5% 2em 5%;
		.page-content-inner {
			margin:0 auto;
		}
		h2 {
			color:$blue;
			font-family: $proxima;
			text-transform: uppercase;
			font-size:1.25em;
			font-weight:bold;
			letter-spacing:2px;
			margin-top:1.5em;
			margin-bottom:1.25em;
		}
		h3 {
			font-family: $serif;
			text-transform: uppercase;
			font-size:1em;
		}
	}
	.philosophy-right {
		text-align:center;
		.philosophy-icon {
			margin:1em;
		}
	}
}

/* What We Do */
.page-template-what-we-do {
	#inner-content {
		background:$light-gray;
	}
	.page-header {
		padding-left:5%;
		padding-right:5%;
		padding-top:3em;
		padding-bottom:2em;
		position:relative;
		.intro {
			text-align:center;
			max-width:800px;
			margin:0 auto 3em auto;
			font-size:1.125em;

		}
	}
	h1 {
		font-family:$serif-bold;
		color:$blue;
		text-align:center;
		font-size:3em;
		text-transform: uppercase;
	}
	h2 {
		color:$blue;
		font-family: $proxima;
		text-transform: uppercase;
		font-size:1.25em;
		font-weight:bold;
		letter-spacing:1.5px;
		margin-bottom:0;
		margin-top:1.5em;
	}
	p {
		margin-top:0;
	}

	.page-content {
		padding-left:5%;
		padding-right:5%;
		padding-bottom:3em;
		padding-top:3em;
		background:$gray;
	}
	.link-boxes {
		text-align:center;
	}
	.link-box-container {
		background:$dark-blue;
		padding:1em;
		max-width:300px;
		margin: 0 auto 1em auto;
		&:hover {
			background:$gold;
			a {
				color:$dark-blue;
			}
		}
	}
	.link-box__main {
		a {
			color:$gold;
			font-weight:bold;
			font-family:$serif;
			text-transform: uppercase;
			text-decoration:none;
			border:solid 1px;
			display:block;
			padding:3em 3.5em;
		}
	}
}

/* Who We Are */
.page-template-who-we-are {
	#inner-content {
		background:$gray;
	}
	.page-header {
		padding-left:5%;
		padding-right:5%;
		padding-top:2em;
		padding-bottom:2em;
		.intro {
			text-align:center;
			max-width:800px;
			margin:0 auto;
			font-size:1.125em;
			p {
				margin-top:0;
			}
		}
		.certifications {
			text-align:center;
			padding-top:0.5em;
			h2 {
				font-family:$serif;
				text-transform: uppercase;
				color:$text-color;
				margin-bottom:0.5em;
			}
			img {
				display:block;
				margin:2em auto;

			}
		}
	}
	h1 {
		font-family:$serif-bold;
		color:$blue;
		text-align:center;
		font-size:3em;
		font-weight:bold;
		text-transform: uppercase;
	}
	h2 {
		color:$blue;
		font-family: $proxima;
		text-transform: uppercase;
		font-size:1.25em;
		font-weight:bold;
		margin-bottom:0;
		letter-spacing:1.5px;
	}

	.page-content {
		padding-left:5%;
		padding-right:5%;
		padding-bottom:3em;
		padding-top:3em;
		background:$light-gray;
		text-align:center;
		.team-section {
			max-width:800px;
			margin:0 auto;
			position:relative;
			z-index:2;
		}
		h2.team-section-title {
			font-family: $serif;
			text-transform: uppercase;
			color:$gray;
			font-size:2.5em;
			font-weight:normal;
			line-height:1em;
			margin:0 0 1em 0;
			letter-spacing:5px;
		}
		p {
			margin:0 0 2em 0;
		}

		.bio {
			display:inline-block;
			vertical-align:top;
			margin:0 0.75em;
			overflow:hidden;
			.img-container {
				width:150px;
				height:165px;
				overflow:hidden;
			}
			img {
				height:100%;
				transition:transform 2s ease;
				&:hover {
					transform:scale(1.2);
					transition:transform 2s ease;
				}
			}
			h3 {
				font-weight:bold;
				margin-top:0.5em;
				font-size:0.75em;
				letter-spacing:normal;
			}
		}
	}
}

/* Bio Pages */
.page-template-bio {
	#inner-content {
		background:$gray;
		margin:0 auto;
		padding-left:5%;
		padding-right:5%;
	}
	.page-header {
		padding-top:2em;
		padding-bottom:2em;
		position:relative;
	}
	h1 {
		font-family:$serif-bold;
		color:$blue;
		font-size:2.5em;
		text-transform: uppercase;
		letter-spacing:8px;
		max-width:50px;
	}
	h2 {
		color:$blue;
		font-size:1.25em;
		font-weight:bold;
		letter-spacing:normal;
	}
	h3 {
		font-family: $serif;
		margin-top:0;
		font-weight:bold;
		margin-bottom:0;
	}
	p:nth-of-type(1) {
		margin-top:0;
	}
	.registered {
		font-size:0.5em;
		vertical-align:top;
	}
}

/* Our History */
.page-template-our-history {
	background:$blue;
	#breadcrumbs {
		color:$light-gray;

		a {
			color:$light-gray;
		}
	}
	#inner-content {


	}
	.page-header {
		padding-left:5%;
		padding-right:5%;
		padding-top:1em;
		h1 {
			color:$dark-blue;
			text-transform:uppercase;
			font-family: $serif-bold;
			letter-spacing:8px;
		}
		p {
			color:$light-gray;
		}
		img {
			display:block;
			position:relative;
			left:50%;
			transform: translateX(-50%);
		}
	}
	.page-content {
		background:$gray;
		padding-left:5%;
		padding-right:5%;
		padding-top:1em;
		padding-bottom:2em;
		position:relative;
	}
	h2 {
		color:$blue;
		font-family: $proxima;
		letter-spacing:1.5px;
		text-transform: uppercase;
		font-size:1.25em;
		font-weight:bold;
		margin-top:2em;
	}
}

.page-template-what-we-care-about {
	background:$gold;
	.page-header {
		background:$gold;
		padding:1em 5% 3em 5%;
		h1 {
			color:$dark-blue;
			text-transform:uppercase;
			font-family: $serif-bold;
			text-align:center;
			font-weight:bold;
		}
		.intro {
			color:$light-gray;
			text-align:center;
		}
	}
	.page-content {
		margin-top:-2em;
		text-align:center;
		background:$light-gray;
		padding-bottom:2em;
		.img {
			height:192px;
			background:$white;
			position:relative;
			img {
				max-width:90%;
				max-height:100%;
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%, -50%);

			}
		}
		.cause {
			max-width:300px;
			margin:0 auto;
			padding:2em 0 0 0;
			a {
				text-decoration:none;
			}
		}
		h2 {
			color:$blue;
			font-family: $proxima;
			letter-spacing:2px;
			text-transform: uppercase;
			font-size:1.25em;
			font-weight:bold;
			margin-top:1.5em;

		}
		p {
			font-size:0.825em;
		}
	}
}

/* Contact */
.page-template-contact {
	background:$gold;
	.page-header {
		background:$gold;
		padding:1em 5% 2em 5%;
		text-align:center;
		background-repeat: no-repeat;
		background-size:250px;
		background-position: center;
		margin:0 auto;
		#breadcrumbs {
			text-align:left;
			a {
				color: $light-gray;
			}
		}
		h1 {
			font-family: $serif-bold;
			text-transform: uppercase;
			font-weight:bold;
			color:#8e643c;
			letter-spacing:5px;
		}
		h3 {
			color:$dark-blue;
			font-family: $proxima;
			text-transform: uppercase;
			font-size:1.125em;
			line-height:1.125em;
			font-weight:bold;
			margin:1em 0 0 0;
			&.first-h3 {
				font-family: $serif;
				font-size:1em;
				margin-bottom:0.5em;
				margin-top:1.5em;
			}
		}
		p {
			margin:0;
			font-family:$serif;
			color:$light-gray;
			font-weight:bold;
		}
		.social_media__icon {
			margin:2em 1em 0 1em;
			img {
				max-width:30px;
			}
		}
	}
	.page-content {
		text-align:center;
		background:$light-gray;
		.page-content-inner {
			padding:1em 5%;
			max-width:600px;
			margin:0 auto;
		}
		h2 {
			font-family: $serif;
			font-weight: bold;
			color: #717a82;
			text-transform: uppercase;
			font-size:2em;
		}
		input {
			width:100%;
			max-width:100%;
			margin-right:0;
			background:transparent;
			border-bottom:solid 1px darken($gray, 25%);
			&::placeholder {
				text-transform:uppercase;
				font-family: $serif;
				font-size:0.75em;
			}
			&[type="submit"] {
				margin-top:2em;
				font-family:$proxima;
				font-size:1.25em;
				padding:0.5em;
			}
		}
		textarea {
			background:transparent;
			border-bottom:solid 1px darken($gray, 25%);
			position:relative;
			&::placeholder {
				text-transform:uppercase;
				font-family: $serif;
				font-size:0.75em;
				// position:relative;
				// top:90px;

			}
		}
		.wpcf7-submit {
			width:150px;
			color:$light-gray;
			background:$gold;
			border:none;
			padding:1em 1em;
			text-transform:uppercase;
			font-weight:bold;
			&:hover {
				background:lighten($gold, 15%);

			}
		}
	}
}

/* Commentary */
.blog {
	background:$gray;
	.page-header {
		text-align:center;
		margin:0 auto;
		padding:0 5% 2em 5%;
		#breadcrumbs {
			text-align:left;
		}
		h1 {
			color:$blue;
			font-family: $serif-bold;
			text-transform: uppercase;
			letter-spacing:8px;
			font-size:1.5em;
		}
		p {
			max-width:800px;
			margin:0 auto;
		}
	}
	article {
		position:relative;
		background:$light-gray;
		max-width:800px;
		margin:2em auto;
		text-align:center;
		padding:2em;
		h3 {
			position: absolute;
			top: 10px;
			left: 50%;
			transform: translateX(-50%);
			font-family:$serif;
			text-transform: uppercase;
			background:$light-gray;
			padding-left:1em;
			padding-right:1em;
			font-weight:bold;
			font-size:0.825em;
		}
		header {
			padding: 1.5em 1.5em 0 1.5em
		}
		.article-inner {
			border:solid 2px $blue;
			padding-bottom:0.5em;
		}
		.entry-title {
			font-weight:bold;
			font-size:1.5em;
			font-family:$proxima;
			text-transform:none;
			letter-spacing:2px;
		}
		.byline {
			font-family:$serif;
			color:$text-color;
			font-size:0.55em;
			letter-spacing:2px;
			text-transform: uppercase;
			font-style: normal;
		}
		.read-more {
			text-transform: uppercase;
			padding:0.5em;
			font-family:$promixa-semibold;
			font-size:1.25em;
			a {
				color:$gold;
				text-decoration: none;
				font-weight:bold;
			}
		}

	}
	.search-boxes {
		max-width:300px;
		margin:0 auto;
		h3 {
			color:$text-color;
			text-transform: uppercase;
			font-size: 0.75em;
			font-family: $serif;
			margin:0;
			padding:1em 0;
			font-weight:bold;
		}
		label {
			display:none;
		}
		input[type="text"],input[type="search"], select {
			background-color:$light-gray;
			box-sizing: border-box;
			-webkit-appearance: none;
			border-radius:0;
			font-size:0.75em;
			padding:0.5em;
			height:30px;
			width:65%;
			display:inline;
			vertical-align:top;
			margin-bottom:0;
		}
		input[type="submit"] {
			height:30px;
			width:35%;
			border:none;
			padding:0.5em;
			vertical-align:top;
			background:$gold;
			text-transform: uppercase;
			color:$light-gray;
			font-size:0.825em;
			font-weight: bold;
		}
		button[type="submit"] {
			display:none;
		}
		.searchform {
			display:inline-block;
			width:63%;
			div {
				display:block;
				width:100%;
				input[type="search"] {
					width:100%;
				}
			}
		}
		select {
			width:35%;
		}
	}
}
.archive, .search {
	input[type="text"],input[type="search"], select {
		background-color:$light-gray;
		box-sizing: border-box;
		-webkit-appearance: none;
		border-radius:0;
		font-size:0.75em;
		padding:0.5em;
		height:30px;
		width:100%;
		display:block;
		vertical-align:top;
		margin-bottom:0;
	}
	input[type="submit"] {
		height:30px;
		width:35%;
		border:none;
		padding:0.5em;
		vertical-align:top;
		background:$gold;
		text-transform: uppercase;
		color:$light-gray;
		font-size:0.825em;
		font-weight: bold;
	}
	button[type="submit"] {
		// display:none;
		margin-top: 0.5em;
    font-family: "Proxima Nova", "Trade Gothic", Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding: 0.5em;
		width: 150px;
    color: #e0e3e6;
    background: #bc8451;
    border: none;
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
	}
}
/* Single Post */
.single {
	background: $light-gray;
	h1 {
		color:$blue;
		font-family: $serif-bold;
		text-transform: uppercase;
		margin-bottom:0;
		// letter-spacing:8px;
	}
	.byline {
		font-family: "Merriweather", Times New Roman, Times, serif;
		color: #383c3f;
		font-size: 0.55em;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-style: normal;
	}
	h2 {
		color:$blue;
		font-family: $proxima;
		letter-spacing:1.5px;
		text-transform: uppercase;
		font-size:1.25em;
		font-weight:bold;
		margin-top:2em;
	}
	.page-content {
		padding-bottom:2em;
	}
}

/* Publications */
.page-template-publications {
	#breadcrumbs {
		background:$blue;
		color:$light-gray;
		a {
			color:$light-gray;
		}
	}
	#inner-content {
		background:$blue;
	}
	.page-header {
		background-image: url('../images/notebook.png');
		height:200px;
		position:relative;
		background-repeat:no-repeat;
		background-position:center;
		background-size:300px;
		background-color:$blue;
		h1 {
			color:$white;
			text-transform:uppercase;
			font-family: $serif-bold;
			text-align:center;
			font-size:2em;
			font-weight:bold;
			position:relative;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.page-content {
		background:$light-gray;
		.page-content-inner {
			padding:2em 5%;
		}
		h2 {
			color:$blue;
			font-family: $proxima;
			font-size:1.75em;
			letter-spacing:1.5px;
			text-transform: uppercase;
			text-align: center;
			font-weight:bold;
			margin:1em 0;
		}
		.link-boxes {
			text-align:center;
		}
		.link-box-container {
			background:$dark-blue;
			padding:1em;
			max-width:300px;
			height:200px;
			margin: 0 auto 1em auto;
			position:relative;
			z-index:1;
			&:hover {
				background:$gold;
				a {
					color:$dark-blue;
				}
				.link-box-link {
					border-color:$dark-blue;
				}
			}
		}
		.link-box {
			height:200px;

		}
		.link-box__main {
			.link-box-link {
				height:168px;
				min-width:250px;
				position:relative;
				border:solid 1px $gold;
			}
			a {
				color:$gold;
				font-weight:bold;
				font-family:$serif;
				text-transform: uppercase;
				text-decoration:none;
				// border:solid 1px;
				display:block;
				padding:3em 2.5em;
				position:absolute;
				top:50%;
				left:50%;
				transform: translate(-50%, -50%);

			}
		}
	}
}
/* Publications-list */
.page-template-publications-list {
	#breadcrumbs {
		background:$blue;
		color:$light-gray;
		a {
			color:$light-gray;
		}
	}
	#inner-content {
		background:$blue;
	}
	.page-header {
		background-image: url('../images/notebook.png');
		height:200px;
		position:relative;
		background-repeat:no-repeat;
		background-position:center;
		background-size:300px;
		background-color:$blue;
		h1 {
			color:$white;
			text-transform:uppercase;
			font-family: $serif;
			text-align:center;
			font-size:2em;
			font-weight:bold;
			position:relative;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.page-content {
		background:$light-gray;
		.page-content-inner {
			padding:2em 5%;
		}
	}
	.page-content-left {
		text-align:center;
		h2 {
			font-size:1.25em;
			line-height:1.25em;
			text-transform: uppercase;
			color:$blue;
			font-family:$proxima;
			font-weight:bold;
			margin-top:2em;
		}
		ul {
			li {
				color:$gold;
				&.active {
					a {
						color:$dark-blue;
					}
				}
				&:hover {
					color:$dark-blue;
				}
				a {
					color:$gold;
					font-family: $serif;
					text-transform: uppercase;
					font-size:0.75em;
					text-decoration: none;
					letter-spacing:2px;
					&:hover {
						color:$dark-blue;
					}
				}
			}
		}
	}
	.page-content-right {
		h2 {
			font-family: $proxima;
			color:$dark-blue;
			font-size:2em;
		}
		.post-content {
			height:0;
			overflow:hidden;
			transition: height 1s;
			&.open {
				height:auto;
				transition: height 1s;
			}
		}
		.publication-category {
			display:none;
			&.open {
				display:block;
			}
		}
	}
	h3 {
		font-size:0.75em;
		letter-spacing: 2px;
		color:$gold;
		text-transform: uppercase;
		font-family: $serif;

	}
	.page-content {
		padding-top:2em;
		.page-content-right {
			padding:2em 5%;
		}
	}
}
 /* Parallax Bullshit */
 #home-line-1, #home-line-2, #home-line-3, #icm-line, #what-we-do-line, #who-we-are-line-1, #who-we-are-line-2, #bio-line-1, #bio-line-2, #our-history-line, #commentary-line-1, #commentary-line-2, #publications-line-1, #publications-line-2, #contact-line {
	 display:none;
 }
/* Hard break on mobile*/

 .mobile-break {
	 display:block;
 }
